BOT_TOKEN=your_bot_token
API_ID=your_api_id
API_HASH=your_api_hash
OWNER_IDS=1598576202
OWNER_USERNAME=Xioqui_Xan
SUPPORT_USERNAME=TechnicalSerena
FSUB_LINK=https://t.me/TechnicalSerena
FSUB_ID=@TechnicalSerena   # optional, can be channel ID like -100xxxx
LOG_CHANNEL=               # optional
START_PIC=                 # optional URL to image/gif
FREE_LIMIT=3
BASIC_LIMIT=15
PREMIUM_LIMIT=50
DB_PATH=/tmp/serena_db/bot.db
DL_DIR=/tmp/serena_dl
PORT=10000                 # Render sets this automatically
YT_COOKIES=                # paste Netscape cookie text
INSTAGRAM_COOKIES=
TERABOX_COOKIES=
